body.color-green .color {
	color: #26a55b
}
body.color-green .category-list>li a:hover {
	color: #26a55b
}
body.color-green .category-list>li:after {
	color: #26a55b
}
body.color-green .marker-list>li:after {
	color: #26a55b
}
body.color-green .marker-list-sm>li:hover a {
	color: #26a55b
}
body.color-green .marker-list-sm>li:after {
	color: #26a55b
}
body.color-green .marker-list-md-1>li:after,
body.color-green .marker-list-md>li:after {
	color: #26a55b
}
body.color-green .number-list>li:before {
	color: #26a55b
}
body.color-green .service-list li>span:hover,
body.color-green .service-list li a:hover {
	background-color: #26a55b
}
body.color-green .service-list-1 li>span:hover,
body.color-green .service-list-1 li a:hover {
	color: #26a55b
}
body.color-green .service-list-1 li.active a {
	color: #26a55b
}
body.color-green blockquote:before {
	color: #26a55b
}
body.color-green blockquote .quote-author {
	color: #26a55b
}
body.color-green .contact-info .icon {
	color: #26a55b
}
body.color-green .text-icon:not(:hover) .icon-wrapper:not(:hover) span {
	background: #26a55b;
	-webkit-box-shadow: 0 0 0 8px rgba(38, 165, 91, 0.25);
	box-shadow: 0 0 0 8px rgba(38, 165, 91, 0.25)
}
body.color-green .icon-wrapper:hover span,
body.color-green .text-icon:hover .icon-wrapper span {
	-webkit-box-shadow: 0 0 0 20px rgba(38, 165, 91, 0.25);
	box-shadow: 0 0 0 20px rgba(38, 165, 91, 0.25)
}
body.color-green .icon-wrapper .icon-hover {
	-webkit-box-shadow: 0 0 0 0 rgba(38, 165, 91, 0.25);
	box-shadow: 0 0 0 0 rgba(38, 165, 91, 0.25)
}
body.color-green .icon-wrapper:hover .icon-hover,
body.color-green .text-icon:hover .icon-wrapper .icon-hover {
	-webkit-box-shadow: 0 0 0 8px rgba(38, 165, 91, 0.25);
	box-shadow: 0 0 0 8px rgba(38, 165, 91, 0.25)
}
body.color-green .icon-wrapper:hover span i.icon {
	color: #26a55b
}
body.color-green .icon-wrapper.icon-light span i.icon {
	color: #26a55b
}
body.color-green .icon-wrapper.icon-light .icon-hover {
	background-color: #26a55b;
	-webkit-box-shadow: 0 0 0 0 rgba(38, 165, 91, 0.25);
	box-shadow: 0 0 0 0 rgba(38, 165, 91, 0.25)
}
body.color-green .icon-wrapper.icon-light:hover .icon-hover {
	-webkit-box-shadow: 0 0 0 8px rgba(38, 165, 91, 0.25);
	box-shadow: 0 0 0 8px rgba(38, 165, 91, 0.25)
}
body.color-green .icon-wrapper.icon-light-border span i.icon {
	color: #26a55b
}
body.color-green .icon-wrapper.icon-light-border .icon-hover {
	background-color: #26a55b;
	-webkit-box-shadow: 0 0 0 0 rgba(38, 165, 91, 0.25);
	box-shadow: 0 0 0 0 rgba(38, 165, 91, 0.25)
}
body.color-green .icon-big .icon {
	color: #26a55b
}
body.color-green .icon-big.dark .icon:hover {
	color: #26a55b
}
body.color-green .phone-content-number i {
	color: #26a55b
}
body.color-green .pagination>li>a:hover,
body.color-green .pagination>li>span:hover {
	background-color: #26a55b;
	border-color: #26a55b
}
body.color-green .pagination>.active>a,
body.color-green .pagination>.active>a:hover,
body.color-green .pagination>.active>span,
body.color-green .pagination>.active>span:hover {
	background-color: #26a55b;
	border-color: #26a55b
}
body.color-green .battery .battery_item {
	background-color: #26a55b
}
body.color-green .bootstrap-datetimepicker-widget .btn[data-action].btn-primary {
	background-color: #26a55b!important
}
body.color-green .btn:not(.btn-white):not(.btn-invert):not(:hover) {
	background-color: #26a55b
}
body.color-green .btn.focus,
body.color-green .btn:focus {
	background-color: #26a55b
}
body.color-green .btn-invert.active,
body.color-green .btn-invert:active,
body.color-green .btn-invert:hover {
	background-color: #26a55b
}
body.color-green .social-links.rounded ul li a {
	color: #26a55b
}
body.color-green .tag:hover {
	background-color: #26a55b
}
body.color-green .tags-list li a:hover {
	background-color: #26a55b
}
body.color-green .calendar__footer a:hover {
	color: #26a55b
}
body.color-green .calendar .selected,
body.color-green .calendar .selected:hover {
	background-color: #26a55b
}
body.color-green .block.bg-dark .btn-white:hover {
	background: #26a55b
}
body.color-green header .phone .number {
	background-color: #26a55b
}
@media (min-width:992px) {
	body.color-green .nav .open>a,
	body.color-green .nav .open>a:focus,
	body.color-green .nav .open>a:hover {
		color: #26a55b
	}
	body.color-green .navbar-nav>li>a:focus,
	body.color-green .navbar-nav>li>a:hover {
		color: #26a55b
	}
	body.color-green .navbar-nav>li>a.shadow-effect:hover {
		-webkit-text-shadow: 0 0px 0px #26a55b;
		-moz-text-shadow: 0 0px 0px #26a55b;
		-ms-text-shadow: 0 0px 0px #26a55b;
		-o-text-shadow: 0 0px 0px #26a55b;
		text-shadow: 0 0px 0px #26a55b
	}
	body.color-green .navbar-nav li.active>a {
		color: #26a55b
	}
	body.color-green .navbar-nav .dropdown .dropdown-menu {
		border-top: 4px solid #26a55b
	}
	body.color-green .navbar-nav .dropdown .dropdown-menu li>a:focus,
	body.color-green .navbar-nav .dropdown .dropdown-menu li>a:hover {
		color: #26a55b
	}
}
@media (max-width:991px) {
	body.color-green .header-info-mobile p>[class*=icon-] {
		color: #26a55b
	}
	body.color-green .header-info-toggle [class*=icon-]:hover {
		color: #26a55b
	}
}
@media (max-width:991px) {
	body.color-green #navbar-height-col, body.color-green .slidemenu-close {
		background: #26a55b
	}
}
body.color-green .page-footer ul.footer-menu li a:hover {
	color: #26a55b
}
body.color-green .page-footer .footer-links a:hover {
	color: #26a55b
}
body.color-green .page-footer .footer-phone .number {
	color: #26a55b
}
body.color-green .back-to-top a {
	color: #26a55b
}
body.color-green #mainSlider .slide-content h3 span {
	color: #26a55b
}
body.color-green #mainSlider .slide-content h4 span {
	color: #26a55b
}
body.color-green #mainSlider .slide-content .btn.active,
body.color-green #mainSlider .slide-content .btn.focus,
body.color-green #mainSlider .slide-content .btn:active,
body.color-green #mainSlider .slide-content .btn:focus,
body.color-green #mainSlider .slide-content .btn:hover {
	color: #26a55b
}
body.color-green .breadcrumbs .breadcrumb a:hover {
	color: #26a55b
}
body.color-green .category-block .image_hover .btn.active,
body.color-green .category-block .image_hover .btn.focus,
body.color-green .category-block .image_hover .btn:active,
body.color-green .category-block .image_hover .btn:focus,
body.color-green .category-block .image_hover .btn:hover {
	color: #26a55b
}
body.color-green .category-block .image_hover.light .btn:not(:hover) {
	background: #26a55b
}
body.color-green .category-block .image_hover.color, body.color-green .category-block.color {
	background: #26a55b
}
body.color-green .category-block .image_hover.color .btn.active,
body.color-green .category-block .image_hover.color .btn.focus,
body.color-green .category-block .image_hover.color .btn:active,
body.color-green .category-block .image_hover.color .btn:focus,
body.color-green .category-block .image_hover.color .btn:hover {
	color: #26a55b
}
body.color-green .category-block .caption .name {
	color: #26a55b
}
body.color-green .price-box-icon i {
	color: #26a55b
}
body.color-green .price-box-price span {
	color: #26a55b
}
body.color-green .text-icon:hover .icon-wrapper span i.icon {
	color: #26a55b
}
body.color-green .text-icon-squared .icon-big .icon {
	color: #26a55b
}
body.color-green .text-icon-squared .read-more {
	color: #26a55b
}
body.color-green .text-icon-hor .icon-wrapper span i.icon {
	color: #26a55b
}
body.color-green .text-icon-hor .icon-wrapper .icon-hover {
	background-color: #26a55b;
	-webkit-box-shadow: 0 0 0 0 rgba(38, 165, 91, 0.25);
	box-shadow: 0 0 0 0 rgba(38, 165, 91, 0.25)
}
body.color-green .text-icon-hor:hover .icon-wrapper .icon-hover {
	-webkit-box-shadow: 0 0 0 8px rgba(38, 165, 91, 0.25);
	box-shadow: 0 0 0 8px rgba(38, 165, 91, 0.25)
}
body.color-green .text-icon-hor .price {
	color: #26a55b
}
body.color-green .testimonials-item .inside .username {
	color: #26a55b
}
body.color-green .testimonials-item .inside:before {
	color: #26a55b
}
body.color-green .testimonials-single .username {
	color: #26a55b
}
body.color-green .faq-item .panel-heading .panel-title>a:hover {
	color: #26a55b
}
body.color-green .faq-item .panel-heading a>span.caret-toggle {
	background-color: #26a55b
}
body.color-green .blog-post .post-image .post-link:hover {
	color: #26a55b
}
body.color-green .blog-post .post-title a:hover {
	color: #26a55b
}
body.color-green .blog-post .post-teaser p a:hover {
	color: #26a55b
}
body.color-green .comments-block .comment .userpic {
	background-color: #26a55b
}
body.color-green .comments-block .comment .text a.reply:hover {
	background-color: #26a55b
}
body.color-green .mfp-close-btn-in .mfp-close {
	color: #26a55b
}
body.color-green .grey-box-icon {
	color: #26a55b
}
body.color-green .grey-box:hover .grey-box-title {
	color: #26a55b
}
body.color-green .row-icon-icon i {
	background-color: #26a55b
}
body.color-green .row-icon:hover .row-icon-text {
	color: #26a55b
}
body.color-green .contact-box [class*=icon-] {
	color: #26a55b
}
body.color-green .box-number-icon span {
	background: #26a55b
}
body.color-green .box-number:hover .box-number-text {
	color: #26a55b
}
body.color-green .row-number-icon span {
	background-color: #26a55b
}
@media (min-width:768px) {
	body.color-green .hexagon-box {
		border-left: solid 2px #26a55b;
		border-right: solid 2px #26a55b
	}
	body.color-green .hexagon-box:before {
		border-top: solid 2px #26a55b;
		border-right: solid 2px #26a55b
	}
	body.color-green .hexagon-box:after {
		border-bottom: solid 2px #26a55b;
		border-left: solid 2px #26a55b
	}
}
body.color-green .hexagon-icon i {
	border: 4px solid #26a55b
}
@media (min-width:768px) {
	body.color-green .hexagon-icon:hover i {
		background: #26a55b
	}
}
@media (max-width:767px) {
	body.color-green .hexagon-icon:after {
		background-color: #26a55b
	}
}
body.color-green .column-filters .side-block>h3:before {
	background-color: #26a55b
}
body.color-green .noUi-horizontal .noUi-handle {
	background: #26a55b
}
body.color-green .noUi-connect {
	background: #26a55b
}
body.color-green .rating i {
	color: #26a55b
}
body.color-green .simple-pagination a.active {
	color: #26a55b
}
body.color-green .header-cart .badge {
	background-color: #26a55b
}
body.color-green .header-cart.opened a.icon,
body.color-green .header-cart:hover a.icon {
	color: #26a55b
}
body.color-green .header-cart-dropdown {
	border-top: 4px solid #26a55b
}
body.color-green .nav-tabs>li.active>a,
body.color-green .nav-tabs>li>a:hover {
	color: #26a55b!important
}
body.color-green .nav-tabs>li>a:after {
	background: #26a55b
}
body.color-green .tab-nav>li>a:after {
	background: #26a55b none repeat scroll 0% 0%
}
body.color-green .nav-pills>li.active>a,
body.color-green .nav-pills>li.active>a:focus,
body.color-green .nav-pills>li.active>a:hover {
	background: #26a55b;
	border-color: #26a55b
}
body.color-green .slick-next:hover:before,
body.color-green .slick-prev:hover:before {
	color: #26a55b
}
body.color-green .slick-dots li.slick-active button,
body.color-green .slick-dots li.slick-active button:hover {
	background: #26a55b
}
