body.color-sienna .color {
	color: #e96656
}
body.color-sienna .category-list>li a:hover {
	color: #e96656
}
body.color-sienna .category-list>li:after {
	color: #e96656
}
body.color-sienna .marker-list>li:after {
	color: #e96656
}
body.color-sienna .marker-list-sm>li:hover a {
	color: #e96656
}
body.color-sienna .marker-list-sm>li:after {
	color: #e96656
}
body.color-sienna .marker-list-md-1>li:after,
body.color-sienna .marker-list-md>li:after {
	color: #e96656
}
body.color-sienna .number-list>li:before {
	color: #e96656
}
body.color-sienna .service-list li>span:hover,
body.color-sienna .service-list li a:hover {
	background-color: #e96656
}
body.color-sienna .service-list-1 li>span:hover,
body.color-sienna .service-list-1 li a:hover {
	color: #e96656
}
body.color-sienna .service-list-1 li.active a {
	color: #e96656
}
body.color-sienna blockquote:before {
	color: #e96656
}
body.color-sienna blockquote .quote-author {
	color: #e96656
}
body.color-sienna .contact-info .icon {
	color: #e96656
}
body.color-sienna .text-icon:not(:hover) .icon-wrapper:not(:hover) span {
	background: #e96656;
	-webkit-box-shadow: 0 0 0 8px rgba(233, 102, 86, 0.25);
	box-shadow: 0 0 0 8px rgba(233, 102, 86, 0.25)
}
body.color-sienna .icon-wrapper:hover span,
body.color-sienna .text-icon:hover .icon-wrapper span {
	-webkit-box-shadow: 0 0 0 20px rgba(233, 102, 86, 0.25);
	box-shadow: 0 0 0 20px rgba(233, 102, 86, 0.25)
}
body.color-sienna .icon-wrapper .icon-hover {
	-webkit-box-shadow: 0 0 0 0 rgba(233, 102, 86, 0.25);
	box-shadow: 0 0 0 0 rgba(233, 102, 86, 0.25)
}
body.color-sienna .icon-wrapper:hover .icon-hover,
body.color-sienna .text-icon:hover .icon-wrapper .icon-hover {
	-webkit-box-shadow: 0 0 0 8px rgba(233, 102, 86, 0.25);
	box-shadow: 0 0 0 8px rgba(233, 102, 86, 0.25)
}
body.color-sienna .icon-wrapper:hover span i.icon {
	color: #e96656
}
body.color-sienna .icon-wrapper.icon-light span i.icon {
	color: #e96656
}
body.color-sienna .icon-wrapper.icon-light .icon-hover {
	background-color: #e96656;
	-webkit-box-shadow: 0 0 0 0 rgba(233, 102, 86, 0.25);
	box-shadow: 0 0 0 0 rgba(233, 102, 86, 0.25)
}
body.color-sienna .icon-wrapper.icon-light:hover .icon-hover {
	-webkit-box-shadow: 0 0 0 8px rgba(233, 102, 86, 0.25);
	box-shadow: 0 0 0 8px rgba(233, 102, 86, 0.25)
}
body.color-sienna .icon-wrapper.icon-light-border span i.icon {
	color: #e96656
}
body.color-sienna .icon-wrapper.icon-light-border .icon-hover {
	background-color: #e96656;
	-webkit-box-shadow: 0 0 0 0 rgba(233, 102, 86, 0.25);
	box-shadow: 0 0 0 0 rgba(233, 102, 86, 0.25)
}
body.color-sienna .icon-big .icon {
	color: #e96656
}
body.color-sienna .icon-big.dark .icon:hover {
	color: #e96656
}
body.color-sienna .phone-content-number i {
	color: #e96656
}
body.color-sienna .pagination>li>a:hover,
body.color-sienna .pagination>li>span:hover {
	background-color: #e96656;
	border-color: #e96656
}
body.color-sienna .pagination>.active>a,
body.color-sienna .pagination>.active>a:hover,
body.color-sienna .pagination>.active>span,
body.color-sienna .pagination>.active>span:hover {
	background-color: #e96656;
	border-color: #e96656
}
body.color-sienna .battery .battery_item {
	background-color: #e96656
}
body.color-sienna .bootstrap-datetimepicker-widget .btn[data-action].btn-primary {
	background-color: #e96656!important
}
body.color-sienna .btn:not(.btn-white):not(.btn-invert):not(:hover) {
	background-color: #e96656
}
body.color-sienna .btn.focus,
body.color-sienna .btn:focus {
	background-color: #e96656
}
body.color-sienna .btn-invert.active,
body.color-sienna .btn-invert:active,
body.color-sienna .btn-invert:hover {
	background-color: #e96656
}
body.color-sienna .social-links.rounded ul li a {
	color: #e96656
}
body.color-sienna .tag:hover {
	background-color: #e96656
}
body.color-sienna .tags-list li a:hover {
	background-color: #e96656
}
body.color-sienna .calendar__footer a:hover {
	color: #e96656
}
body.color-sienna .calendar .selected,
body.color-sienna .calendar .selected:hover {
	background-color: #e96656
}
body.color-sienna .block.bg-dark .btn-white:hover {
	background: #e96656
}
body.color-sienna header .phone .number {
	background-color: #e96656
}
@media (min-width:992px) {
	body.color-sienna .nav .open>a,
	body.color-sienna .nav .open>a:focus,
	body.color-sienna .nav .open>a:hover {
		color: #e96656
	}
	body.color-sienna .navbar-nav>li>a:focus,
	body.color-sienna .navbar-nav>li>a:hover {
		color: #e96656
	}
	body.color-sienna .navbar-nav>li>a.shadow-effect:hover {
		-webkit-text-shadow: 0 0px 0px #e96656;
		-moz-text-shadow: 0 0px 0px #e96656;
		-ms-text-shadow: 0 0px 0px #e96656;
		-o-text-shadow: 0 0px 0px #e96656;
		text-shadow: 0 0px 0px #e96656
	}
	body.color-sienna .navbar-nav li.active>a {
		color: #e96656
	}
	body.color-sienna .navbar-nav .dropdown .dropdown-menu {
		border-top: 4px solid #e96656
	}
	body.color-sienna .navbar-nav .dropdown .dropdown-menu li>a:focus,
	body.color-sienna .navbar-nav .dropdown .dropdown-menu li>a:hover {
		color: #e96656
	}
}
@media (max-width:991px) {
	body.color-sienna .header-info-mobile p>[class*=icon-] {
		color: #e96656
	}
	body.color-sienna .header-info-toggle [class*=icon-]:hover {
		color: #e96656
	}
}
@media (max-width:991px) {
	body.color-sienna #navbar-height-col, body.color-sienna .slidemenu-close {
		background: #e96656
	}
}
body.color-sienna .page-footer ul.footer-menu li a:hover {
	color: #e96656
}
body.color-sienna .page-footer .footer-links a:hover {
	color: #e96656
}
body.color-sienna .page-footer .footer-phone .number {
	color: #e96656
}
body.color-sienna .back-to-top a {
	color: #e96656
}
body.color-sienna #mainSlider .slide-content h3 span {
	color: #e96656
}
body.color-sienna #mainSlider .slide-content h4 span {
	color: #e96656
}
body.color-sienna #mainSlider .slide-content .btn.active,
body.color-sienna #mainSlider .slide-content .btn.focus,
body.color-sienna #mainSlider .slide-content .btn:active,
body.color-sienna #mainSlider .slide-content .btn:focus,
body.color-sienna #mainSlider .slide-content .btn:hover {
	color: #e96656
}
body.color-sienna .breadcrumbs .breadcrumb a:hover {
	color: #e96656
}
body.color-sienna .category-block .image_hover .btn.active,
body.color-sienna .category-block .image_hover .btn.focus,
body.color-sienna .category-block .image_hover .btn:active,
body.color-sienna .category-block .image_hover .btn:focus,
body.color-sienna .category-block .image_hover .btn:hover {
	color: #e96656
}
body.color-sienna .category-block .image_hover.light .btn:not(:hover) {
	background: #e96656
}
body.color-sienna .category-block .image_hover.color, body.color-sienna .category-block.color {
	background: #e96656
}
body.color-sienna .category-block .image_hover.color .btn.active,
body.color-sienna .category-block .image_hover.color .btn.focus,
body.color-sienna .category-block .image_hover.color .btn:active,
body.color-sienna .category-block .image_hover.color .btn:focus,
body.color-sienna .category-block .image_hover.color .btn:hover {
	color: #e96656
}
body.color-sienna .category-block .caption .name {
	color: #e96656
}
body.color-sienna .price-box-icon i {
	color: #e96656
}
body.color-sienna .price-box-price span {
	color: #e96656
}
body.color-sienna .text-icon:hover .icon-wrapper span i.icon {
	color: #e96656
}
body.color-sienna .text-icon-squared .icon-big .icon {
	color: #e96656
}
body.color-sienna .text-icon-squared .read-more {
	color: #e96656
}
body.color-sienna .text-icon-hor .icon-wrapper span i.icon {
	color: #e96656
}
body.color-sienna .text-icon-hor .icon-wrapper .icon-hover {
	background-color: #e96656;
	-webkit-box-shadow: 0 0 0 0 rgba(233, 102, 86, 0.25);
	box-shadow: 0 0 0 0 rgba(233, 102, 86, 0.25)
}
body.color-sienna .text-icon-hor:hover .icon-wrapper .icon-hover {
	-webkit-box-shadow: 0 0 0 8px rgba(233, 102, 86, 0.25);
	box-shadow: 0 0 0 8px rgba(233, 102, 86, 0.25)
}
body.color-sienna .text-icon-hor .price {
	color: #e96656
}
body.color-sienna .testimonials-item .inside .username {
	color: #e96656
}
body.color-sienna .testimonials-item .inside:before {
	color: #e96656
}
body.color-sienna .testimonials-single .username {
	color: #e96656
}
body.color-sienna .faq-item .panel-heading .panel-title>a:hover {
	color: #e96656
}
body.color-sienna .faq-item .panel-heading a>span.caret-toggle {
	background-color: #e96656
}
body.color-sienna .blog-post .post-image .post-link:hover {
	color: #e96656
}
body.color-sienna .blog-post .post-title a:hover {
	color: #e96656
}
body.color-sienna .blog-post .post-teaser p a:hover {
	color: #e96656
}
body.color-sienna .comments-block .comment .userpic {
	background-color: #e96656
}
body.color-sienna .comments-block .comment .text a.reply:hover {
	background-color: #e96656
}
body.color-sienna .mfp-close-btn-in .mfp-close {
	color: #e96656
}
body.color-sienna .grey-box-icon {
	color: #e96656
}
body.color-sienna .grey-box:hover .grey-box-title {
	color: #e96656
}
body.color-sienna .row-icon-icon i {
	background-color: #e96656
}
body.color-sienna .row-icon:hover .row-icon-text {
	color: #e96656
}
body.color-sienna .contact-box [class*=icon-] {
	color: #e96656
}
body.color-sienna .box-number-icon span {
	background: #e96656
}
body.color-sienna .box-number:hover .box-number-text {
	color: #e96656
}
body.color-sienna .row-number-icon span {
	background-color: #e96656
}
@media (min-width:768px) {
	body.color-sienna .hexagon-box {
		border-left: solid 2px #e96656;
		border-right: solid 2px #e96656
	}
	body.color-sienna .hexagon-box:before {
		border-top: solid 2px #e96656;
		border-right: solid 2px #e96656
	}
	body.color-sienna .hexagon-box:after {
		border-bottom: solid 2px #e96656;
		border-left: solid 2px #e96656
	}
}
body.color-sienna .hexagon-icon i {
	border: 4px solid #e96656
}
@media (min-width:768px) {
	body.color-sienna .hexagon-icon:hover i {
		background: #e96656
	}
}
@media (max-width:767px) {
	body.color-sienna .hexagon-icon:after {
		background-color: #e96656
	}
}
body.color-sienna .column-filters .side-block>h3:before {
	background-color: #e96656
}
body.color-sienna .noUi-horizontal .noUi-handle {
	background: #e96656
}
body.color-sienna .noUi-connect {
	background: #e96656
}
body.color-sienna .rating i {
	color: #e96656
}
body.color-sienna .simple-pagination a.active {
	color: #e96656
}
body.color-sienna .header-cart .badge {
	background-color: #e96656
}
body.color-sienna .header-cart.opened a.icon,
body.color-sienna .header-cart:hover a.icon {
	color: #e96656
}
body.color-sienna .header-cart-dropdown {
	border-top: 4px solid #e96656
}
body.color-sienna .nav-tabs>li.active>a,
body.color-sienna .nav-tabs>li>a:hover {
	color: #e96656!important
}
body.color-sienna .nav-tabs>li>a:after {
	background: #e96656
}
body.color-sienna .tab-nav>li>a:after {
	background: #e96656 none repeat scroll 0% 0%
}
body.color-sienna .nav-pills>li.active>a,
body.color-sienna .nav-pills>li.active>a:focus,
body.color-sienna .nav-pills>li.active>a:hover {
	background: #e96656;
	border-color: #e96656
}
body.color-sienna .slick-next:hover:before,
body.color-sienna .slick-prev:hover:before {
	color: #e96656
}
body.color-sienna .slick-dots li.slick-active button,
body.color-sienna .slick-dots li.slick-active button:hover {
	background: #e96656
}
